body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi38xseeVuUb2IiZw3h8OJRhgvGIya2G05NQ&usqp=CAU");
    margin: 5px, 0;
    padding: 5px, 0;
    background-size: 100%;
}
/*Navigation*/
.header {
    background-color: black;
    color: azure;
}
#nav {
    background-color: black;
    color: azure;
}
a {
    color: seashell;
}
/*list of all campionships with a small description*/
li {
    font-weight: bold;
}

/*bets of teh week, the live odds, and some of the betting tips*/
.basic {
    background-color: black;
    color: white;
    margin: auto;
    padding: 0;
}
/* for the about us page*/
#about {

}

.us {

}